$main-color: #3f3356;
$main-link-color: #111;
$main-link-hover-color: #a24db9;
$main-background-color: #f2f2f2;
$main-font-family: "Roboto", sans-serif;
$main-font-size: 14px;

$media-xxl: 1600px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-xs: 575px;
